.loginPageContainer{
    height: 100vh;
    width: 100vw;
    background-color: var(--verde-select);
}
.backgroundShapes {
    position: absolute;
    top: -20%;
    right: -20%;
    width: 150%;
    height: 150%;
    background: radial-gradient(circle at right, #2e7d32 30%, transparent 70%);
    z-index: 0;
    border-radius: 50%;
  }

.loginPageHeader{
    height: 8em;
    width: 100vw;
    display: flex;
    padding: 2.7em;
}

img{
    height: 100%;
    margin: 0;
    padding: 0;
}

.loginPageBody{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard{
    margin-top: 15vh;
    height: 40vh;
    width: 80vh;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.loginInfo{
    width: 50%;
}

.loginButtons{
    width: 50%;
    background: #a12c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}