:root{
    --verde-primario: #78B987;
    --verde-secundario: #2D743D;
    --verde-terciario: #8FCC9D;
    --verde-select: #a1cdab;
    --texto-preto-primario: #343434;
    --vermelho-primario: #b64747;
    --vermelho-secundario: #a12c2c;
    --vermelho-select: #e27b7b;
}