  .appContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .navigationArea {
    height: 100%;
  }
  
  .contentArea {
    height: 100%;
    width: 100%;
  }
  