.questionContainer{
    margin-top: 5em;
    width: 40vw;
    height: 60vh;
    box-shadow: 0px 7px 29px -4px rgba(0, 0, 0, 0.25);
    padding: 2em;
    border-radius: 10px;
}

.questionBody{
    margin-top: 5em;
}